<!-- <p>
    <mat-toolbar color="primary">      
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p> -->

<div class="card">

    <div class="singleCard">
        <mat-card class="example-card employee">
            <mat-card-header style="border-bottom: 1px solid rgb(97, 87, 87);">
                <mat-card-title class="subtitle">1000</mat-card-title>
                <mat-card-title>Employee</mat-card-title>
                <img mat-card-lg-image class="imageEm" src="./assets/images/employees.png">
            </mat-card-header>
            <a class="link">View More -></a>
        </mat-card>
    </div>

    <div class="singleCard">
        <mat-card class="example-card staff">
            <mat-card-header style="border-bottom: 1px solid rgb(97, 87, 87);">
                <mat-card-title class="subtitle">1000</mat-card-title>
                <mat-card-title>Staff</mat-card-title>
                <img mat-card-lg-image class="imageSf" src="./assets/images/staff.png">
            </mat-card-header>
            <a class="link">View More -></a>
        </mat-card>
    </div>

    <div class="singleCard">
        <mat-card class="example-card leave">
            <mat-card-header style="border-bottom: 1px solid rgb(97, 87, 87);">
                <mat-card-title class="subtitle">003</mat-card-title>
                <mat-card-title>Leave</mat-card-title>
                <img mat-card-lg-image class="imageLe" src="./assets/images/leave.png">
            </mat-card-header>
            <a class="link">View More -></a>
        </mat-card>
    </div>

    <div class="singleCard">
        <mat-card class="example-card salary">
            <mat-card-header style="border-bottom: 1px solid rgb(97, 87, 87);">
                <mat-card-title class="subtitle">8567</mat-card-title>
                <mat-card-title>Salary</mat-card-title>
                <img mat-card-lg-image class="imageLe" src="./assets/images/salary.png">
            </mat-card-header>
            <a class="link">View More -></a>
        </mat-card>
    </div>
</div>